<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953242244962-8da25k8drvsd3o4htc9f56ein1iohi0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953242244962-8da25k8drvsd3o4htc9f56ein1iohi0l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>953242244962-nniri1u2th75up5gtqfsnqjje1phu1m1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbBTW3YXRad8ihkFkZPkN1JDD55Nf_gZM</string>
	<key>GCM_SENDER_ID</key>
	<string>953242244962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motore</string>
	<key>PROJECT_ID</key>
	<string>motore-b29a1</string>
	<key>STORAGE_BUCKET</key>
	<string>motore-b29a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953242244962:ios:d55f54b5abf7db07537e3b</string>
	<key>DATABASE_URL</key>
	<string>https://motore-b29a1-default-rtdb.firebaseio.com</string>
</dict>
</plist>